In [14]:
import pandas as pd
import numpy as np

In [15]:
state=pd.read_csv("/Users/apoorvi_sahu/Downloads/State-wise Road Accidents.csv")

# State Data

In [16]:
state.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Sl No                       40 non-null     object
 1   State                       38 non-null     object
 2   2019 Accidents              37 non-null     object
 3   2020 Accidents              36 non-null     object
 4   2021 Accidents              37 non-null     object
 5   2022 Accidents              38 non-null     object
 6   2023 Accidents              37 non-null     object
 7   Change from 2022 to 2023    37 non-null     object
 8   % change from 2022 to 2023  37 non-null     float64
 9   2019 Ranking                37 non-null     object
 10  2020 Ranking                35 non-null     float64
 11  2021 Ranking                36 non-null     float64
 12  2022 Ranking                37 non-null     float64
 13  2023 Ranking                36 non-null     float64
dtypes: float64(5), object(9)
memory usage: 4.5+ KB

In [17]:
state

,Sl No,State,2019 Accidents,2020 Accidents,2021 Accidents,2022 Accidents,2023 Accidents,Change from 2022 to 2023,% change from 2022 to 2023,2019 Ranking,2020 Ranking,2021 Ranking,2022 Ranking,2023 Ranking
0,1,Andhra Pradesh,21992,19509,21556,21249,19949,-1300,-6.1,8,7.0,7.0,9.0,9.0
1,2,Arunachal Pradesh,237,134,283,227,287,60,26.4,30,32.0,28.0,31.0,29.0
2,3,Assam,8350,6595,7411,7023,7421,398,5.7,16,16.0,16.0,16.0,16.0
3,4,Bihar,10007,8639,9553,10801,11014,213,2.0,15,15.0,15.0,14.0,14.0
4,5,Chhattisgarh,13899,11656,12375,13279,13468,189,1.4,11,11.0,11.0,12.0,12.0
5,6,Goa,3440,2375,2849,3011,2846,-165,-5.5,21,21.0,21.0,21.0,21.0
6,7,Gujarat,17046,13398,15186,15751,16349,598,3.8,10,10.0,10.0,10.0,10.0
7,8,Haryana,10944,9431,9933,10429,10463,34,0.3,14,14.0,14.0,15.0,15.0
8,9,Himachal Pradesh,2873,2239,2404,2597,2253,-344,-13.2,22,22.0,22.0,22.0,22.0
9,10,Jharkhand,5217,4405,4728,5175,5315,140,2.7,20,19.0,19.0,20.0,20.0
10,11,Karnataka,40658,34178,34647,39762,43440,3678,9.3,5,4.0,4.0,5.0,5.0
11,12,Kerala,41111,27877,33296,43910,48091,4181,9.5,4,5.0,5.0,3.0,3.0
12,13,Madhya Pradesh,50669,45266,48877,54432,55327,895,1.6,2,2.0,2.0,2.0,2.0
13,14,Maharashtra,32925,24971,29477,33383,35243,1860,5.6,6,6.0,6.0,6.0,6.0
14,15,Manipur,672,432,366,508,398,-110,-21.7,25,27.0,27.0,26.0,26.0
15,16,Meghalaya,482,214,245,246,223,-23,-9.3,27,28.0,29.0,29.0,30.0
16,17,Mizoram,62,53,69,133,106,-27,-20.3,35,34.0,35.0,35.0,35.0
17,18,Nagaland,358,500,746,489,303,-186,-38.0,28,25.0,25.0,27.0,27.0
18,19,Odisha,11064,9817,10983,11663,11992,329,2.8,13,13.0,13.0,13.0,13.0
19,20,Punjab,6348,5203,5871,6138,6269,131,2.1,17,17.0,17.0,17.0,18.0
20,21,Rajasthan,23480,19114,20951,23614,24694,1080,4.6,7,9.0,9.0,7.0,7.0
21,22,Sikkim,162,138,155,211,182,-29,-13.7,32,31.0,32.0,32.0,31.0
22,23,Tamil Nadu,62685,49844,55682,64105,67213,3108,4.8,1,1.0,1.0,1.0,1.0
23,24,Telangana,21570,19172,21315,21619,22903,1284,5.9,9,8.0,8.0,8.0,8.0
24,25,Tripura,655,466,479,575,577,2,0.3,26,26.0,26.0,25.0,25.0
25,26,Uttarakhand,1352,1041,1405,1674,1691,17,1.0,24,23.0,23.0,23.0,23.0
26,27,Uttar Pradesh,42572,34243,37729,41746,44534,2788,6.7,3,3.0,3.0,4.0,4.0
27,28,West Bengal,12658,10863,11937,13686,13795,109,0.8,12,12.0,12.0,11.0,11.0
28,29,Andaman & Nicobar Islands,230,141,115,141,143,2,1.4,31,30.0,34.0,34.0,34.0
29,30,Chandigarh,305,159,208,237,182,-55,-23.2,29,29.0,31.0,30.0,31.0
30,31,Dadra & Nagar Haveli*,68,100,140,196,182,-14,-7.1,34,33.0,33.0,33.0,31.0
31,32,Daman & Diu,69,NaN,NaN,0,NaN,NaN,NaN,33,NaN,NaN,37.0,NaN
32,33,Delhi,5610,4178,4720,5652,5834,182,3.2,19,20.0,20.0,19.0,19.0
33,34,J & K #,5796,4860,5452,6092,6298,206,3.4,18,18.0,18.0,18.0,17.0
34,35,Ladakh,NaN,NaN,236,374,289,-85,-22.7,Na,NaN,30.0,28.0,28.0
35,36,Lakshadweep,1,1,4,3,1,-2,-66.7,36,35.0,36.0,36.0,36.0
36,37,Puducherry,1392,969,1049,1181,1308,127,10.8,23,24.0,24.0,24.0,24.0
37,Total,All India,"4,56,959","3,72,181","4,12,432","4,61,312","4,80,583","19,271",4.2,NaN,NaN,NaN,NaN,NaN
38,# includes Ladakh for 2019 and 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,* Dadra and Nagar Haveli includes Daman and Diu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
state=state.iloc[:-3,1:-7]
state

,State,2019 Accidents,2020 Accidents,2021 Accidents,2022 Accidents,2023 Accidents
0,Andhra Pradesh,21992,19509,21556,21249,19949
1,Arunachal Pradesh,237,134,283,227,287
2,Assam,8350,6595,7411,7023,7421
3,Bihar,10007,8639,9553,10801,11014
4,Chhattisgarh,13899,11656,12375,13279,13468
5,Goa,3440,2375,2849,3011,2846
6,Gujarat,17046,13398,15186,15751,16349
7,Haryana,10944,9431,9933,10429,10463
8,Himachal Pradesh,2873,2239,2404,2597,2253
9,Jharkhand,5217,4405,4728,5175,5315
10,Karnataka,40658,34178,34647,39762,43440
11,Kerala,41111,27877,33296,43910,48091
12,Madhya Pradesh,50669,45266,48877,54432,55327
13,Maharashtra,32925,24971,29477,33383,35243
14,Manipur,672,432,366,508,398
15,Meghalaya,482,214,245,246,223
16,Mizoram,62,53,69,133,106
17,Nagaland,358,500,746,489,303
18,Odisha,11064,9817,10983,11663,11992
19,Punjab,6348,5203,5871,6138,6269
20,Rajasthan,23480,19114,20951,23614,24694
21,Sikkim,162,138,155,211,182
22,Tamil Nadu,62685,49844,55682,64105,67213
23,Telangana,21570,19172,21315,21619,22903
24,Tripura,655,466,479,575,577
25,Uttarakhand,1352,1041,1405,1674,1691
26,Uttar Pradesh,42572,34243,37729,41746,44534
27,West Bengal,12658,10863,11937,13686,13795
28,Andaman & Nicobar Islands,230,141,115,141,143
29,Chandigarh,305,159,208,237,182
30,Dadra & Nagar Haveli*,68,100,140,196,182
31,Daman & Diu,69,NaN,NaN,0,NaN
32,Delhi,5610,4178,4720,5652,5834
33,J & K #,5796,4860,5452,6092,6298
34,Ladakh,NaN,NaN,236,374,289
35,Lakshadweep,1,1,4,3,1
36,Puducherry,1392,969,1049,1181,1308

In [19]:
state.columns=["State","2019","2020","2021","2022","2023"]

In [20]:
state

                        State   2019   2020   2021   2022   2023
0              Andhra Pradesh  21992  19509  21556  21249  19949
1           Arunachal Pradesh    237    134    283    227    287
2                       Assam   8350   6595   7411   7023   7421
3                       Bihar  10007   8639   9553  10801  11014
4                Chhattisgarh  13899  11656  12375  13279  13468
5                         Goa   3440   2375   2849   3011   2846
6                     Gujarat  17046  13398  15186  15751  16349
7                     Haryana  10944   9431   9933  10429  10463
8            Himachal Pradesh   2873   2239   2404   2597   2253
9                   Jharkhand   5217   4405   4728   5175   5315
10                  Karnataka  40658  34178  34647  39762  43440
11                     Kerala  41111  27877  33296  43910  48091
12             Madhya Pradesh  50669  45266  48877  54432  55327
13                Maharashtra  32925  24971  29477  33383  35243
14                    Manipur    672    432    366    508    398
15                  Meghalaya    482    214    245    246    223
16                    Mizoram     62     53     69    133    106
17                   Nagaland    358    500    746    489    303
18                     Odisha  11064   9817  10983  11663  11992
19                     Punjab   6348   5203   5871   6138   6269
20                  Rajasthan  23480  19114  20951  23614  24694
21                     Sikkim    162    138    155    211    182
22                 Tamil Nadu  62685  49844  55682  64105  67213
23                  Telangana  21570  19172  21315  21619  22903
24                    Tripura    655    466    479    575    577
25                Uttarakhand   1352   1041   1405   1674   1691
26              Uttar Pradesh  42572  34243  37729  41746  44534
27                West Bengal  12658  10863  11937  13686  13795
28  Andaman & Nicobar Islands    230    141    115    141    143
29                 Chandigarh    305    159    208    237    182
30      Dadra & Nagar Haveli*     68    100    140    196    182
31                Daman & Diu     69    NaN    NaN      0    NaN
32                      Delhi   5610   4178   4720   5652   5834
33                    J & K #   5796   4860   5452   6092   6298
34                     Ladakh    NaN    NaN    236    374    289
35                Lakshadweep      1      1      4      3      1
36                 Puducherry   1392    969   1049   1181   1308

In [21]:
state['State']=state['State'].replace('Dadra & Nagar Haveli*', 'Dadra & Nagar Haveli')
state['State']=state['State'].replace('J & K #', 'Jammu & Kashmir')

In [22]:
state

                        State   2019   2020   2021   2022   2023
0              Andhra Pradesh  21992  19509  21556  21249  19949
1           Arunachal Pradesh    237    134    283    227    287
2                       Assam   8350   6595   7411   7023   7421
3                       Bihar  10007   8639   9553  10801  11014
4                Chhattisgarh  13899  11656  12375  13279  13468
5                         Goa   3440   2375   2849   3011   2846
6                     Gujarat  17046  13398  15186  15751  16349
7                     Haryana  10944   9431   9933  10429  10463
8            Himachal Pradesh   2873   2239   2404   2597   2253
9                   Jharkhand   5217   4405   4728   5175   5315
10                  Karnataka  40658  34178  34647  39762  43440
11                     Kerala  41111  27877  33296  43910  48091
12             Madhya Pradesh  50669  45266  48877  54432  55327
13                Maharashtra  32925  24971  29477  33383  35243
14                    Manipur    672    432    366    508    398
15                  Meghalaya    482    214    245    246    223
16                    Mizoram     62     53     69    133    106
17                   Nagaland    358    500    746    489    303
18                     Odisha  11064   9817  10983  11663  11992
19                     Punjab   6348   5203   5871   6138   6269
20                  Rajasthan  23480  19114  20951  23614  24694
21                     Sikkim    162    138    155    211    182
22                 Tamil Nadu  62685  49844  55682  64105  67213
23                  Telangana  21570  19172  21315  21619  22903
24                    Tripura    655    466    479    575    577
25                Uttarakhand   1352   1041   1405   1674   1691
26              Uttar Pradesh  42572  34243  37729  41746  44534
27                West Bengal  12658  10863  11937  13686  13795
28  Andaman & Nicobar Islands    230    141    115    141    143
29                 Chandigarh    305    159    208    237    182
30       Dadra & Nagar Haveli     68    100    140    196    182
31                Daman & Diu     69    NaN    NaN      0    NaN
32                      Delhi   5610   4178   4720   5652   5834
33            Jammu & Kashmir   5796   4860   5452   6092   6298
34                     Ladakh    NaN    NaN    236    374    289
35                Lakshadweep      1      1      4      3      1
36                 Puducherry   1392    969   1049   1181   1308

In [23]:
state.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   State   37 non-null     object
 1   2019    36 non-null     object
 2   2020    35 non-null     object
 3   2021    36 non-null     object
 4   2022    37 non-null     object
 5   2023    36 non-null     object
dtypes: object(6)
memory usage: 1.9+ KB

In [24]:
state_long=state.melt(id_vars="State",var_name="Year",value_name="Accidents")
state_long

                 State  Year Accidents
0       Andhra Pradesh  2019     21992
1    Arunachal Pradesh  2019       237
2                Assam  2019      8350
3                Bihar  2019     10007
4         Chhattisgarh  2019     13899
..                 ...   ...       ...
180              Delhi  2023      5834
181    Jammu & Kashmir  2023      6298
182             Ladakh  2023       289
183        Lakshadweep  2023         1
184         Puducherry  2023      1308

[185 rows x 3 columns]

In [25]:
state_long["Year"]=state_long["Year"].astype(int)
state_long["Accidents"]=pd.to_numeric(state_long["Accidents"],errors="coerce")
state_long

                 State  Year  Accidents
0       Andhra Pradesh  2019    21992.0
1    Arunachal Pradesh  2019      237.0
2                Assam  2019     8350.0
3                Bihar  2019    10007.0
4         Chhattisgarh  2019    13899.0
..                 ...   ...        ...
180              Delhi  2023     5834.0
181    Jammu & Kashmir  2023     6298.0
182             Ladakh  2023      289.0
183        Lakshadweep  2023        1.0
184         Puducherry  2023     1308.0

[185 rows x 3 columns]

In [26]:
state_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   State      185 non-null    object
 1   Year       185 non-null    int64
 2   Accidents  180 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.5+ KB

In [27]:
state.shape

(37, 6)

In [28]:
state_long.shape

(185, 3)

In [29]:
state_long.to_csv("cleaned_state.csv",index=False)

# Violation Data

In [30]:
violation=pd.read_csv("/Users/apoorvi_sahu/Downloads/Road Accidents Violation.csv")

In [31]:
violation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Category           13 non-null     object
 1   2022-Accidents     13 non-null     object
 2   2022-Killed        13 non-null     object
 3   2022-injured       13 non-null     object
 4   2023-Accidents     13 non-null     object
 5   2023-Killed        13 non-null     object
 6   2023-injured       13 non-null     object
 7   %Change-Accidents  7 non-null      float64
 8   %Change-killed     7 non-null      float64
 9   %Change-Injured    7 non-null      float64
dtypes: float64(3), object(7)
memory usage: 1.1+ KB

In [32]:
violation.rename(columns={"Category":"Cause"},inplace=True)

In [33]:
violation=violation.iloc[:-1,:-3]
violation=violation.iloc[::2]

In [34]:
violation=violation.reset_index(drop=True)
violation

,Cause,2022-Accidents,2022-Killed,2022-injured,2023-Accidents,2023-Killed,2023-injured
0,Over-speeding,"3,33,323","1,19,904","3,22,795","3,28,727","1,17,682","3,20,416"
1,Drunken driving/consumption of alcohol & drug,"10,080","4,201","8,809","9,143","3,674","8,421"
2,Driving on wrong side/Lane indiscipline,"22,586","9,094","21,745","25,242","9,432","24,435"
3,Jumping red light,"4,021","1,462","3,450","2,440",818,"2,157"
4,Use of mobile phone,"7,558","3,395","6,255","7,122","2,884","6,445"
5,Others,"83,744","30,435","80,312","1,07,909","38,400","1,00,951"

In [35]:
violation.isnull().sum()

Cause             0
2022-Accidents    0
2022-Killed       0
2022-injured      0
2023-Accidents    0
2023-Killed       0
2023-injured      0
dtype: int64

In [36]:
violation_long=violation.melt(id_vars="Cause",var_name="Year_Metric",value_name="Value")
violation_long

                                            Cause     Year_Metric     Value
0                                   Over-speeding  2022-Accidents  3,33,323
1   Drunken driving/consumption of alcohol & drug  2022-Accidents    10,080
2         Driving on wrong side/Lane indiscipline  2022-Accidents    22,586
3                               Jumping red light  2022-Accidents     4,021
4                             Use of mobile phone  2022-Accidents     7,558
5                                          Others  2022-Accidents    83,744
6                                   Over-speeding     2022-Killed  1,19,904
7   Drunken driving/consumption of alcohol & drug     2022-Killed     4,201
8         Driving on wrong side/Lane indiscipline     2022-Killed     9,094
9                               Jumping red light     2022-Killed     1,462
10                            Use of mobile phone     2022-Killed     3,395
11                                         Others     2022-Killed    30,435
12                                  Over-speeding    2022-injured  3,22,795
13  Drunken driving/consumption of alcohol & drug    2022-injured     8,809
14        Driving on wrong side/Lane indiscipline    2022-injured    21,745
15                              Jumping red light    2022-injured     3,450
16                            Use of mobile phone    2022-injured     6,255
17                                         Others    2022-injured    80,312
18                                  Over-speeding  2023-Accidents  3,28,727
19  Drunken driving/consumption of alcohol & drug  2023-Accidents     9,143
20        Driving on wrong side/Lane indiscipline  2023-Accidents    25,242
21                              Jumping red light  2023-Accidents     2,440
22                            Use of mobile phone  2023-Accidents     7,122
23                                         Others  2023-Accidents  1,07,909
24                                  Over-speeding     2023-Killed  1,17,682
25  Drunken driving/consumption of alcohol & drug     2023-Killed     3,674
26        Driving on wrong side/Lane indiscipline     2023-Killed     9,432
27                              Jumping red light     2023-Killed       818
28                            Use of mobile phone     2023-Killed     2,884
29                                         Others     2023-Killed    38,400
30                                  Over-speeding    2023-injured  3,20,416
31  Drunken driving/consumption of alcohol & drug    2023-injured     8,421
32        Driving on wrong side/Lane indiscipline    2023-injured    24,435
33                              Jumping red light    2023-injured     2,157
34                            Use of mobile phone    2023-injured     6,445
35                                         Others    2023-injured  1,00,951

In [37]:
violation_long[["Year","Metric"]]=violation_long["Year_Metric"].str.split("-",expand=True)

In [38]:
violation_long

,Cause,Year_Metric,Value,Year,Metric
0,Over-speeding,2022-Accidents,"3,33,323",2022,Accidents
1,Drunken driving/consumption of alcohol & drug,2022-Accidents,"10,080",2022,Accidents
2,Driving on wrong side/Lane indiscipline,2022-Accidents,"22,586",2022,Accidents
3,Jumping red light,2022-Accidents,"4,021",2022,Accidents
4,Use of mobile phone,2022-Accidents,"7,558",2022,Accidents
5,Others,2022-Accidents,"83,744",2022,Accidents
6,Over-speeding,2022-Killed,"1,19,904",2022,Killed
7,Drunken driving/consumption of alcohol & drug,2022-Killed,"4,201",2022,Killed
8,Driving on wrong side/Lane indiscipline,2022-Killed,"9,094",2022,Killed
9,Jumping red light,2022-Killed,"1,462",2022,Killed
10,Use of mobile phone,2022-Killed,"3,395",2022,Killed
11,Others,2022-Killed,"30,435",2022,Killed
12,Over-speeding,2022-injured,"3,22,795",2022,injured
13,Drunken driving/consumption of alcohol & drug,2022-injured,"8,809",2022,injured
14,Driving on wrong side/Lane indiscipline,2022-injured,"21,745",2022,injured
15,Jumping red light,2022-injured,"3,450",2022,injured
16,Use of mobile phone,2022-injured,"6,255",2022,injured
17,Others,2022-injured,"80,312",2022,injured
18,Over-speeding,2023-Accidents,"3,28,727",2023,Accidents
19,Drunken driving/consumption of alcohol & drug,2023-Accidents,"9,143",2023,Accidents
20,Driving on wrong side/Lane indiscipline,2023-Accidents,"25,242",2023,Accidents
21,Jumping red light,2023-Accidents,"2,440",2023,Accidents
22,Use of mobile phone,2023-Accidents,"7,122",2023,Accidents
23,Others,2023-Accidents,"1,07,909",2023,Accidents
24,Over-speeding,2023-Killed,"1,17,682",2023,Killed
25,Drunken driving/consumption of alcohol & drug,2023-Killed,"3,674",2023,Killed
26,Driving on wrong side/Lane indiscipline,2023-Killed,"9,432",2023,Killed
27,Jumping red light,2023-Killed,818,2023,Killed
28,Use of mobile phone,2023-Killed,"2,884",2023,Killed
29,Others,2023-Killed,"38,400",2023,Killed
30,Over-speeding,2023-injured,"3,20,416",2023,injured
31,Drunken driving/consumption of alcohol & drug,2023-injured,"8,421",2023,injured
32,Driving on wrong side/Lane indiscipline,2023-injured,"24,435",2023,injured
33,Jumping red light,2023-injured,"2,157",2023,injured
34,Use of mobile phone,2023-injured,"6,445",2023,injured
35,Others,2023-injured,"1,00,951",2023,injured

In [39]:
violation_long["Year"]=violation_long["Year"].astype(int)
violation_long["Value"]=pd.to_numeric(violation_long["Value"].str.replace(",","",regex=True), errors="coerce")

In [40]:
violation_long

,Cause,Year_Metric,Value,Year,Metric
0,Over-speeding,2022-Accidents,333323,2022,Accidents
1,Drunken driving/consumption of alcohol & drug,2022-Accidents,10080,2022,Accidents
2,Driving on wrong side/Lane indiscipline,2022-Accidents,22586,2022,Accidents
3,Jumping red light,2022-Accidents,4021,2022,Accidents
4,Use of mobile phone,2022-Accidents,7558,2022,Accidents
5,Others,2022-Accidents,83744,2022,Accidents
6,Over-speeding,2022-Killed,119904,2022,Killed
7,Drunken driving/consumption of alcohol & drug,2022-Killed,4201,2022,Killed
8,Driving on wrong side/Lane indiscipline,2022-Killed,9094,2022,Killed
9,Jumping red light,2022-Killed,1462,2022,Killed
10,Use of mobile phone,2022-Killed,3395,2022,Killed
11,Others,2022-Killed,30435,2022,Killed
12,Over-speeding,2022-injured,322795,2022,injured
13,Drunken driving/consumption of alcohol & drug,2022-injured,8809,2022,injured
14,Driving on wrong side/Lane indiscipline,2022-injured,21745,2022,injured
15,Jumping red light,2022-injured,3450,2022,injured
16,Use of mobile phone,2022-injured,6255,2022,injured
17,Others,2022-injured,80312,2022,injured
18,Over-speeding,2023-Accidents,328727,2023,Accidents
19,Drunken driving/consumption of alcohol & drug,2023-Accidents,9143,2023,Accidents
20,Driving on wrong side/Lane indiscipline,2023-Accidents,25242,2023,Accidents
21,Jumping red light,2023-Accidents,2440,2023,Accidents
22,Use of mobile phone,2023-Accidents,7122,2023,Accidents
23,Others,2023-Accidents,107909,2023,Accidents
24,Over-speeding,2023-Killed,117682,2023,Killed
25,Drunken driving/consumption of alcohol & drug,2023-Killed,3674,2023,Killed
26,Driving on wrong side/Lane indiscipline,2023-Killed,9432,2023,Killed
27,Jumping red light,2023-Killed,818,2023,Killed
28,Use of mobile phone,2023-Killed,2884,2023,Killed
29,Others,2023-Killed,38400,2023,Killed
30,Over-speeding,2023-injured,320416,2023,injured
31,Drunken driving/consumption of alcohol & drug,2023-injured,8421,2023,injured
32,Driving on wrong side/Lane indiscipline,2023-injured,24435,2023,injured
33,Jumping red light,2023-injured,2157,2023,injured
34,Use of mobile phone,2023-injured,6445,2023,injured
35,Others,2023-injured,100951,2023,injured

In [41]:
violation_final=violation_long.pivot_table(index=["Cause", "Year"],columns="Metric",values="Value",aggfunc="sum").reset_index()
violation_final

Metric,Cause,Year,Accidents,Killed,injured
0,Driving on wrong side/Lane indiscipline,2022,22586,9094,21745
1,Driving on wrong side/Lane indiscipline,2023,25242,9432,24435
2,Drunken driving/consumption of alcohol & drug,2022,10080,4201,8809
3,Drunken driving/consumption of alcohol & drug,2023,9143,3674,8421
4,Jumping red light,2022,4021,1462,3450
5,Jumping red light,2023,2440,818,2157
6,Others,2022,83744,30435,80312
7,Others,2023,107909,38400,100951
8,Over-speeding,2022,333323,119904,322795
9,Over-speeding,2023,328727,117682,320416
10,Use of mobile phone,2022,7558,3395,6255
11,Use of mobile phone,2023,7122,2884,6445

In [42]:
violation_final.columns.name = None
violation_final=violation_final.rename(columns={"Killed":"Fatalities","injured":"Injuries"})
violation_final

,Cause,Year,Accidents,Fatalities,Injuries
0,Driving on wrong side/Lane indiscipline,2022,22586,9094,21745
1,Driving on wrong side/Lane indiscipline,2023,25242,9432,24435
2,Drunken driving/consumption of alcohol & drug,2022,10080,4201,8809
3,Drunken driving/consumption of alcohol & drug,2023,9143,3674,8421
4,Jumping red light,2022,4021,1462,3450
5,Jumping red light,2023,2440,818,2157
6,Others,2022,83744,30435,80312
7,Others,2023,107909,38400,100951
8,Over-speeding,2022,333323,119904,322795
9,Over-speeding,2023,328727,117682,320416
10,Use of mobile phone,2022,7558,3395,6255
11,Use of mobile phone,2023,7122,2884,6445

In [43]:
violation_final.to_csv("cleaned_violation.csv",index=False)

# Collision Data

In [44]:
collision=pd.read_csv("/Users/apoorvi_sahu/Downloads/Road Accidents Collision.csv")

In [45]:
collision

,_id,Type of collision,2022-Accidents,2022-Killed,2022-injured,2023-Accidents,2023-Killed,2023-injured,%Change-Accidents,%Change-killed,%Change-Injured
0,1,Hit and Run,"67,387","30,486","54,726","68,783","31,209","54,574",2.1,2.4,-0.3
1,2,% share,15,18,12,14,18,12,NaN,NaN,NaN
2,3,With parked Vehicle,"14,139","6,012","12,666","13,810","5,636","12,575",-2.3,-6.3,-0.7
3,4,% share,3,4,3,3,3,3,NaN,NaN,NaN
4,5,Hit from Back,"98,668","32,907","95,241","1,10,656","36,804","1,07,161",12.1,11.8,12.5
5,6,% share,21,20,22,23,21,23,NaN,NaN,NaN
6,7,Hit from side,"71,146","20,357","72,190","73,805","20,623","74,017",3.7,1.3,2.5
7,8,% share,15,12,16,15,12,16,NaN,NaN,NaN
8,9,Run off Road,"20,590","9,862","20,170","21,527","10,196","20,719",4.6,3.4,2.7
9,10,% share,4,6,5,4,6,4,NaN,NaN,NaN
10,11,Fixed object,"15,368","7,307","14,829","17,451","8,291","16,416",13.6,13.5,10.7
11,12,% share,3,4,3,4,5,4,NaN,NaN,NaN
12,13,Vehicle overturn,"20,070","9,827","21,138","18,905","9,124","21,216",-5.8,-7.2,0.4
13,14,% share,4,6,5,4,5,5,NaN,NaN,NaN
14,15,Head on collision,"77,886","26,413","83,580","84,348","28,898","89,867",8.3,9.4,7.5
15,16,% share,17,16,19,18,17,19,NaN,NaN,NaN
16,17,Others,"76,058","25,320","68,826","71,298","22,109","66,280",-6.3,-12.7,-3.7
17,18,% share,16,15,16,15,13,14,NaN,NaN,NaN
18,19,Total,"4,61,312","1,68,491","4,43,366","4,80,583","1,72,890","4,62,825",4.2,2.6,4.4

In [46]:
collision=collision.iloc[:-1,1:-3]
collision=collision.iloc[::2]

In [47]:
collision=collision.reset_index(drop=True)
collision

,Type of collision,2022-Accidents,2022-Killed,2022-injured,2023-Accidents,2023-Killed,2023-injured
0,Hit and Run,"67,387","30,486","54,726","68,783","31,209","54,574"
1,With parked Vehicle,"14,139","6,012","12,666","13,810","5,636","12,575"
2,Hit from Back,"98,668","32,907","95,241","1,10,656","36,804","1,07,161"
3,Hit from side,"71,146","20,357","72,190","73,805","20,623","74,017"
4,Run off Road,"20,590","9,862","20,170","21,527","10,196","20,719"
5,Fixed object,"15,368","7,307","14,829","17,451","8,291","16,416"
6,Vehicle overturn,"20,070","9,827","21,138","18,905","9,124","21,216"
7,Head on collision,"77,886","26,413","83,580","84,348","28,898","89,867"
8,Others,"76,058","25,320","68,826","71,298","22,109","66,280"

In [48]:
collision.isnull().sum()

Type of collision    0
2022-Accidents       0
2022-Killed          0
2022-injured         0
2023-Accidents       0
2023-Killed          0
2023-injured         0
dtype: int64

In [49]:
collision=collision.rename(columns={"Type of collision":"Collision_Type"})

In [50]:
collision_long=collision.melt(id_vars="Collision_Type",var_name="Year_Metric",value_name="Value")
collision_long

         Collision_Type     Year_Metric     Value
0           Hit and Run  2022-Accidents    67,387
1   With parked Vehicle  2022-Accidents    14,139
2         Hit from Back  2022-Accidents    98,668
3         Hit from side  2022-Accidents    71,146
4          Run off Road  2022-Accidents    20,590
5          Fixed object  2022-Accidents    15,368
6      Vehicle overturn  2022-Accidents    20,070
7     Head on collision  2022-Accidents    77,886
8                Others  2022-Accidents    76,058
9           Hit and Run     2022-Killed    30,486
10  With parked Vehicle     2022-Killed     6,012
11        Hit from Back     2022-Killed    32,907
12        Hit from side     2022-Killed    20,357
13         Run off Road     2022-Killed     9,862
14         Fixed object     2022-Killed     7,307
15     Vehicle overturn     2022-Killed     9,827
16    Head on collision     2022-Killed    26,413
17               Others     2022-Killed    25,320
18          Hit and Run    2022-injured    54,726
19  With parked Vehicle    2022-injured    12,666
20        Hit from Back    2022-injured    95,241
21        Hit from side    2022-injured    72,190
22         Run off Road    2022-injured    20,170
23         Fixed object    2022-injured    14,829
24     Vehicle overturn    2022-injured    21,138
25    Head on collision    2022-injured    83,580
26               Others    2022-injured    68,826
27          Hit and Run  2023-Accidents    68,783
28  With parked Vehicle  2023-Accidents    13,810
29        Hit from Back  2023-Accidents  1,10,656
30        Hit from side  2023-Accidents    73,805
31         Run off Road  2023-Accidents    21,527
32         Fixed object  2023-Accidents    17,451
33     Vehicle overturn  2023-Accidents    18,905
34    Head on collision  2023-Accidents    84,348
35               Others  2023-Accidents    71,298
36          Hit and Run     2023-Killed    31,209
37  With parked Vehicle     2023-Killed     5,636
38        Hit from Back     2023-Killed    36,804
39        Hit from side     2023-Killed    20,623
40         Run off Road     2023-Killed    10,196
41         Fixed object     2023-Killed     8,291
42     Vehicle overturn     2023-Killed     9,124
43    Head on collision     2023-Killed    28,898
44               Others     2023-Killed    22,109
45          Hit and Run    2023-injured    54,574
46  With parked Vehicle    2023-injured    12,575
47        Hit from Back    2023-injured  1,07,161
48        Hit from side    2023-injured    74,017
49         Run off Road    2023-injured    20,719
50         Fixed object    2023-injured    16,416
51     Vehicle overturn    2023-injured    21,216
52    Head on collision    2023-injured    89,867
53               Others    2023-injured    66,280

In [51]:
collision_long["Value"]=pd.to_numeric(collision_long["Value"].str.replace(",","",regex=True),errors="coerce")

In [52]:
collision_long

         Collision_Type     Year_Metric   Value
0           Hit and Run  2022-Accidents   67387
1   With parked Vehicle  2022-Accidents   14139
2         Hit from Back  2022-Accidents   98668
3         Hit from side  2022-Accidents   71146
4          Run off Road  2022-Accidents   20590
5          Fixed object  2022-Accidents   15368
6      Vehicle overturn  2022-Accidents   20070
7     Head on collision  2022-Accidents   77886
8                Others  2022-Accidents   76058
9           Hit and Run     2022-Killed   30486
10  With parked Vehicle     2022-Killed    6012
11        Hit from Back     2022-Killed   32907
12        Hit from side     2022-Killed   20357
13         Run off Road     2022-Killed    9862
14         Fixed object     2022-Killed    7307
15     Vehicle overturn     2022-Killed    9827
16    Head on collision     2022-Killed   26413
17               Others     2022-Killed   25320
18          Hit and Run    2022-injured   54726
19  With parked Vehicle    2022-injured   12666
20        Hit from Back    2022-injured   95241
21        Hit from side    2022-injured   72190
22         Run off Road    2022-injured   20170
23         Fixed object    2022-injured   14829
24     Vehicle overturn    2022-injured   21138
25    Head on collision    2022-injured   83580
26               Others    2022-injured   68826
27          Hit and Run  2023-Accidents   68783
28  With parked Vehicle  2023-Accidents   13810
29        Hit from Back  2023-Accidents  110656
30        Hit from side  2023-Accidents   73805
31         Run off Road  2023-Accidents   21527
32         Fixed object  2023-Accidents   17451
33     Vehicle overturn  2023-Accidents   18905
34    Head on collision  2023-Accidents   84348
35               Others  2023-Accidents   71298
36          Hit and Run     2023-Killed   31209
37  With parked Vehicle     2023-Killed    5636
38        Hit from Back     2023-Killed   36804
39        Hit from side     2023-Killed   20623
40         Run off Road     2023-Killed   10196
41         Fixed object     2023-Killed    8291
42     Vehicle overturn     2023-Killed    9124
43    Head on collision     2023-Killed   28898
44               Others     2023-Killed   22109
45          Hit and Run    2023-injured   54574
46  With parked Vehicle    2023-injured   12575
47        Hit from Back    2023-injured  107161
48        Hit from side    2023-injured   74017
49         Run off Road    2023-injured   20719
50         Fixed object    2023-injured   16416
51     Vehicle overturn    2023-injured   21216
52    Head on collision    2023-injured   89867
53               Others    2023-injured   66280

In [53]:
collision_long[["Year","Metric"]]=collision_long["Year_Metric"].str.split("-",expand=True)
collision_long

         Collision_Type     Year_Metric   Value  Year     Metric
0           Hit and Run  2022-Accidents   67387  2022  Accidents
1   With parked Vehicle  2022-Accidents   14139  2022  Accidents
2         Hit from Back  2022-Accidents   98668  2022  Accidents
3         Hit from side  2022-Accidents   71146  2022  Accidents
4          Run off Road  2022-Accidents   20590  2022  Accidents
5          Fixed object  2022-Accidents   15368  2022  Accidents
6      Vehicle overturn  2022-Accidents   20070  2022  Accidents
7     Head on collision  2022-Accidents   77886  2022  Accidents
8                Others  2022-Accidents   76058  2022  Accidents
9           Hit and Run     2022-Killed   30486  2022     Killed
10  With parked Vehicle     2022-Killed    6012  2022     Killed
11        Hit from Back     2022-Killed   32907  2022     Killed
12        Hit from side     2022-Killed   20357  2022     Killed
13         Run off Road     2022-Killed    9862  2022     Killed
14         Fixed object     2022-Killed    7307  2022     Killed
15     Vehicle overturn     2022-Killed    9827  2022     Killed
16    Head on collision     2022-Killed   26413  2022     Killed
17               Others     2022-Killed   25320  2022     Killed
18          Hit and Run    2022-injured   54726  2022    injured
19  With parked Vehicle    2022-injured   12666  2022    injured
20        Hit from Back    2022-injured   95241  2022    injured
21        Hit from side    2022-injured   72190  2022    injured
22         Run off Road    2022-injured   20170  2022    injured
23         Fixed object    2022-injured   14829  2022    injured
24     Vehicle overturn    2022-injured   21138  2022    injured
25    Head on collision    2022-injured   83580  2022    injured
26               Others    2022-injured   68826  2022    injured
27          Hit and Run  2023-Accidents   68783  2023  Accidents
28  With parked Vehicle  2023-Accidents   13810  2023  Accidents
29        Hit from Back  2023-Accidents  110656  2023  Accidents
30        Hit from side  2023-Accidents   73805  2023  Accidents
31         Run off Road  2023-Accidents   21527  2023  Accidents
32         Fixed object  2023-Accidents   17451  2023  Accidents
33     Vehicle overturn  2023-Accidents   18905  2023  Accidents
34    Head on collision  2023-Accidents   84348  2023  Accidents
35               Others  2023-Accidents   71298  2023  Accidents
36          Hit and Run     2023-Killed   31209  2023     Killed
37  With parked Vehicle     2023-Killed    5636  2023     Killed
38        Hit from Back     2023-Killed   36804  2023     Killed
39        Hit from side     2023-Killed   20623  2023     Killed
40         Run off Road     2023-Killed   10196  2023     Killed
41         Fixed object     2023-Killed    8291  2023     Killed
42     Vehicle overturn     2023-Killed    9124  2023     Killed
43    Head on collision     2023-Killed   28898  2023     Killed
44               Others     2023-Killed   22109  2023     Killed
45          Hit and Run    2023-injured   54574  2023    injured
46  With parked Vehicle    2023-injured   12575  2023    injured
47        Hit from Back    2023-injured  107161  2023    injured
48        Hit from side    2023-injured   74017  2023    injured
49         Run off Road    2023-injured   20719  2023    injured
50         Fixed object    2023-injured   16416  2023    injured
51     Vehicle overturn    2023-injured   21216  2023    injured
52    Head on collision    2023-injured   89867  2023    injured
53               Others    2023-injured   66280  2023    injured

In [54]:
collision_long["Year"]=collision_long["Year"].astype(int)

In [55]:
collision_final=collision_long.pivot_table(index=["Collision_Type","Year"],columns="Metric",values="Value",aggfunc="sum").reset_index()
collision_final

Metric       Collision_Type  Year  Accidents  Killed  injured
0              Fixed object  2022      15368    7307    14829
1              Fixed object  2023      17451    8291    16416
2         Head on collision  2022      77886   26413    83580
3         Head on collision  2023      84348   28898    89867
4               Hit and Run  2022      67387   30486    54726
5               Hit and Run  2023      68783   31209    54574
6             Hit from Back  2022      98668   32907    95241
7             Hit from Back  2023     110656   36804   107161
8             Hit from side  2022      71146   20357    72190
9             Hit from side  2023      73805   20623    74017
10                   Others  2022      76058   25320    68826
11                   Others  2023      71298   22109    66280
12             Run off Road  2022      20590    9862    20170
13             Run off Road  2023      21527   10196    20719
14         Vehicle overturn  2022      20070    9827    21138
15         Vehicle overturn  2023      18905    9124    21216
16      With parked Vehicle  2022      14139    6012    12666
17      With parked Vehicle  2023      13810    5636    12575

In [56]:
collision_final.columns.name=None
collision_final=collision_final.rename(columns={"Killed":"Fatalities","injured":"Injuries"})
collision_final

         Collision_Type  Year  Accidents  Fatalities  Injuries
0          Fixed object  2022      15368        7307     14829
1          Fixed object  2023      17451        8291     16416
2     Head on collision  2022      77886       26413     83580
3     Head on collision  2023      84348       28898     89867
4           Hit and Run  2022      67387       30486     54726
5           Hit and Run  2023      68783       31209     54574
6         Hit from Back  2022      98668       32907     95241
7         Hit from Back  2023     110656       36804    107161
8         Hit from side  2022      71146       20357     72190
9         Hit from side  2023      73805       20623     74017
10               Others  2022      76058       25320     68826
11               Others  2023      71298       22109     66280
12         Run off Road  2022      20590        9862     20170
13         Run off Road  2023      21527       10196     20719
14     Vehicle overturn  2022      20070        9827     21138
15     Vehicle overturn  2023      18905        9124     21216
16  With parked Vehicle  2022      14139        6012     12666
17  With parked Vehicle  2023      13810        5636     12575

In [57]:
collision_final.to_csv("cleaned_collision.csv",index=False)